<div data-hook="admin_product_form_taxons" class="col-md-4">
	<label>Taxonomies</label>
	<br /><span>Select all Taxons?</span><input type="checkbox" id="select_all" style="margin-left:10px"/>
	<%= f.field_container :taxons, class: ['form-group'] do %>
	      <%= f.hidden_field :taxon_ids %>
	<% end %>      
</div>

<script type="text/javascript">
	$(document).ready( function() {
		$("#select_all").on("click", function() {
			if($("#select_all").prop("checked")){
				$("#product_taxon_ids").val("<%= Spree::Taxon.all.map(&:id).join(',')%>");
				window.location.reload();
			}
			else{
				$("#product_taxon_ids").val("");
				window.location.reload();
			}
		})
	})		
</script>
